.main_communities{
    height: 88vh;
    overflow-y: scroll;
}

.community_page{
    height: 140vh;
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(8,1fr);
    padding: 1rem;
}

.communitylistHeading{
    grid-column-start: 1;
    grid-column-end: 9;
    background-color: #1d2c6e;
    color: white;
    border-radius: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: bolder;

}

.communitylistItems{
    background-color: #f1f0f7;
    border-radius: 0.7rem;
    transition: all 0.4s linear;
    color: white;
    font-weight: bolder;
    padding: 5%;
}

.communitylistItems:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.communitylistItem1{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
    background-image: url(https://i.pinimg.com/736x/f6/ee/a1/f6eea155cfff6f78b53f44df33c3a793.jpg);
    background-size: cover;
    font-size: 4rem;
    font-weight: bolder;
    padding-left: 2.6rem;
    padding-top: 2rem;
    color: white;
}

.communitylistItem2{
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 4;
    background-image: url(https://i.pinimg.com/originals/13/42/28/1342288822bb3e9829e1c71e90ab0d18.gif);
    background-size: 100% 80%;
    font-size: larger;
    padding-top: 90%;
    padding-left: 16%;
}

.communitylistItem3{
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 4;
    background-image: url(https://i.pinimg.com/736x/60/1d/08/601d08aa38e410ac92b5185847eb3ee0.jpg);
    background-size: 250% 225%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

.communitylistItem4{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 7;
    background-image: url(https://i.pinimg.com/736x/4d/e0/11/4de011316192df27ed6f2c4a3183393c.jpg);
    background-size: 100% 100%;
    font-size: 3rem;
    padding-top: 90%;
}

.communitylistItem5{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    background-image: url(https://i.pinimg.com/736x/9f/16/a5/9f16a5d69e9e6fe0aa591bf1f59564c8.jpg);
    background-size: cover;
}

.communitylistItem6{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
    background-image: url(https://i.pinimg.com/originals/52/e4/2e/52e42e59adf538ea2ea2ae1774a47c9b.gif);
    background-size: cover;
    font-size: xX-large;
    padding-top: 15%;
    color: black;
}

.communitylistItem7{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;
    background-image: url(https://i.pinimg.com/originals/5c/f9/2d/5cf92d8b59b3d53c8cdbe8de46cf9bb3.gif);
    background-size: cover;
    color: #77472e;
    font-size: larger;
    padding-left: 55%;
}

.communitylistItem8{
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 7;
    background-image: url(https://i.pinimg.com/736x/0f/e3/5f/0fe35fa1921164d81c60d3546e515fc2.jpg);
    background-size: 100% 100%;
}

.communityPostsHeading{
    font-size: x-large;
    margin-left: 2rem;
    background-color: #77472e;
}