@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:ital@0;1&display=swap');

::-webkit-scrollbar {
    width: 8px; /* Adjust the width as needed */
  }
  
  /* Transparent scrollbar track */
  ::-webkit-scrollbar-track {
    background: #0e1326;
  }
  
  /* Transparent scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background: transparent; /* Semi-transparent black thumb */
    border-radius: 4px; /* Rounded edges */
  }
  
  /* Hover effect for thumb */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5); /* Slightly darker on hover */
  }
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.main{
     height: fit-content;
     overflow-y: hidden;
     /* background-color: black; */
}

.navbar{
    height: 25vh;
    width: 95vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.navbar img{
    height: 7rem;
}


.tryitout{
    /* background-color: rgba(165, 165, 165, 0.329); */
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    padding: 0.5rem 1rem;
    border: 1px rgba(255, 255, 255, 0.406) solid;
    border-radius: 1rem;
    font-size: larger ;
    transition: all 0.2s linear;
    box-shadow: rgba(255, 255, 255, 0.17) 0px -3px 25px 0px inset, rgba(104, 80, 80, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.tryitout:hover{
    box-shadow: none;
}

.login_main{
    display: flex;
    align-items: center;
}

.login_main:hover span{
    text-decoration: underline;
}

.about{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about h1{
    font-size: 3.8rem;
}

.tabsDiv{
    width: 100%;
    height:106vh;
    overflow: hidden;
    /* background-color: antiquewhite; */
}

.tabsDiv li{
    height: 45vh;
    width: 16vw;
    list-style: none;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border: 0.1px rgba(225, 223, 223, 0.406) solid;
    border-radius: 1.5rem;
    position: absolute;
    top: 110%;
    left: -20.925%;
    padding: 1% 0.1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    animation: tabAnimate 14s linear infinite;
    box-shadow: rgba(255, 255, 255, 0.17) 0px -3px 25px 0px inset, rgba(104, 80, 80, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-size: cover;
    background-position: center;
}

.tabsDiv li:nth-child(1){
    animation-delay: -2s;
    background-image: url(https://images.pexels.com/photos/1190297/pexels-photo-1190297.jpeg);
}

.tabsDiv li:nth-child(2){
    animation-delay: -4s;
    background-image: url(https://i.pinimg.com/736x/8f/04/30/8f0430959b210e295bae1857cd6d4a67.jpg);
}

.tabsDiv li:nth-child(3){
    animation-delay: -6s;
    background-image: url(https://images.pexels.com/photos/262524/pexels-photo-262524.jpeg);
}

.tabsDiv li:nth-child(4){
    animation-delay: -8s;
    background-image: url(https://images.pexels.com/photos/3861969/pexels-photo-3861969.jpeg);
}

.tabsDiv li:nth-child(5){
    animation-delay: -10s;
    background-image: url(https://images.pexels.com/photos/3473495/pexels-photo-3473495.jpeg)
}
.tabsDiv li:nth-child(6){
    animation-delay: -12s;
    background-image: url(https://images.pexels.com/photos/4934588/pexels-photo-4934588.jpeg);
}

/* .tabsDiv:hover li{
    animation-play-state: paused;
}

.tabsDiv li:hover{
    
} */

@keyframes tabAnimate {
    0%{
        top: 110%;
        left: -20.925%;
        height: 43vh;
        opacity: 1;
    }
    14.28%{
        top: 90%;
        left: 0%;
        height: 43vh;
    }
    28.57%{
        top: 70%;
        transform: scale(1.1);
    }
    42.85%{
        top: 60%;
        left: 41.85%;
        transform: scale(1.2);
        opacity: 1;
    }
    57.13%{
        top: 70%;
    }
    71%{
        top: 90%;
        left: 83.7%;
        opacity: 1;
    }
    85.67%{
        top: 110%;
        left: 104.625%;
        opacity: 1;
    }
    85.68%{
        opacity: 0;
    }
    99.99%{
        opacity: 0;
    }
    100%{
        top: 110%;
        left: -20.925%;
        opacity: 1;
    }
}

.tabsDiv li:nth-child(0){
    animation-delay: 0s;
}

.tabsDiv li:nth-child(1){
    animation-delay: -2s;
}

.tabsDiv li:nth-child(2){
    animation-delay: -4s;
}

.tabsDiv li:nth-child(3){
    animation-delay: -6s;
}

.tabsDiv li:nth-child(4){
    animation-delay: -8s;
}

.tabsDiv li:nth-child(5){
    animation-delay: -10s;
}

.tabsDiv li:nth-child(6){
    animation-delay: -12s;
}




@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 0.3;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #0e1326;
    z-index: -1;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    opacity: 10%;
    z-index: -1;
    background: #709ff5;
    animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
    left: 34%;
    width: 136px;
    height: 136px;
    bottom: -136px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 23%;
    width: 107px;
    height: 107px;
    bottom: -107px;
    animation-delay: 5s;
}
.background li:nth-child(2) {
    left: 19%;
    width: 109px;
    height: 109px;
    bottom: -109px;
    animation-delay: 1s;
}
.background li:nth-child(3) {
    left: 38%;
    width: 180px;
    height: 180px;
    bottom: -180px;
    animation-delay: 11s;
}
.background li:nth-child(4) {
    left: 27%;
    width: 102px;
    height: 102px;
    bottom: -102px;
    animation-delay: 15s;
}
.background li:nth-child(5) {
    left: 85%;
    width: 196px;
    height: 196px;
    bottom: -196px;
    animation-delay: 14s;
}
.background li:nth-child(6) {
    left: 49%;
    width: 127px;
    height: 127px;
    bottom: -127px;
    animation-delay: 20s;
}
.background li:nth-child(7) {
    left: 17%;
    width: 122px;
    height: 122px;
    bottom: -122px;
    animation-delay: 28s;
}
.background li:nth-child(8) {
    left: 82%;
    width: 156px;
    height: 156px;
    bottom: -156px;
    animation-delay: 2s;
}
.background li:nth-child(9) {
    left: 0%;
    width: 169px;
    height: 169px;
    bottom: -169px;
    animation-delay: 30s;
}

.lessContent{
    display: flex;
    justify-content: space-between;
    height: 50%;
    width: 90%;
    /* padding: 1.2rem; */
    /* margin-left: 10%; */
    /* border: 3px solid white; */
    /* display: flex; */
    /* justify-content: center; */


}

.boldContent{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    font-size: x-large;
}


.listImg{
    height: 100%;
    width: 90%;
    border-radius: 1.5rem;
    background-image: url(https://i.pinimg.com/736x/8a/4f/3f/8a4f3faca7cd23e37e0926196aa33e2c.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2% ;
}

.listImg div{
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.listImg h1{
    background-color: rgba(128, 128, 128, 0.489);
    padding: 3% 4%;
    border-radius: 0.4rem;
}

.listImg2{
    height: 100%;
    width: 90%;
    border-radius: 1.5rem;
    background-image: url(https://i.pinimg.com/736x/8f/04/30/8f0430959b210e295bae1857cd6d4a67.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2% ;
}

.listImg2 div{
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.listImg2 h1{
    background-color: rgba(128, 128, 128, 0.489);
    padding: 3% 4%;
    border-radius: 0.4rem;
}