.main_uploadPost{
    /* border: 2px red solid; */
    height: 100vh;
    width: 80vw;
    /* background-color: #f1f0f7; */
}

.uploadpostBox{
    width: 80%;
    height: 70%;
    border-radius: 2rem;
    background-color: white;
    color: black;
}

.uploadpostBox h1{
    font-size: x-large;
}

.imageUpload_box{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200%;
    /* padding-left: 20%; */
    border: 2px #f1f0f7 solid ;
    width: 80%;
    border-radius: 1rem;
}

.imageUpload_box input{
    display: none;
}

.imageUpload_box label{
    display: inline-block;
    width: max-content;
    padding: 10px 20px;
    background-color: #f1f0f7;
    border-radius: 5px;
    cursor: pointer;
}

.post_button{
    background-color: #0e1326;
    width: fit-content;
    align-self: flex-end;
}

.post_button:hover{
    background-color: #1d2c6e;
}

.selectCommunity{
    color: #696971;
}